@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
body{background-color:#fff;font:normal 16px/22px Lato;color:#555;}
p {padding-bottom:20px;font-size: 20px;}
a:hover{text-decoration: none;}
.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}
.clearfix {
	display:inline-block;
}
html[xmlns] .clearfix {
	display:block;
}
* html .clearfix {
	height:1%;
}
h1,h2,h3,h4,h5,h6{font-family: Lato;margin: 0;padding: 0;}
h1{font-weight:300;font-size: 60px;line-height: 80px;}
h2{font-weight:300;font-size: 40px;line-height:38px;margin-bottom:80px;}
h3{font-size: 25px;font-weight:600;margin-bottom:40px;}

.spacer{padding: 100px 0;}
.center{text-align: center; background: url(assets/bottom-line.png) center bottom no-repeat; padding: 50px; }

.header-bg {background:url(images/header-bg1.jpg) center fixed;background-size:cover; }
.header {background:rgba(0,0,0,0.8);position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
.fullpage .container{display:table; height:inherit;}
.fullpage .absolute-center{display:table-cell;vertical-align: middle;}

.header h1.info {color:#fff;}
.header h1.info a{color:#fff;text-decoration: none;}
.header h1.info a u{text-decoration: none;}
.header h1.info a:hover u{text-decoration: underline;}
.header h1.info b{opacity:0.5;}
.header h1.info b span{font-weight:300;opacity:0.7;}
.header a.btn{color: #fff;border: 1px solid #fff; padding: 10px 25px;text-decoration: none;border-radius: 0; margin-top: 25px;margin-right: 25px; text-transform: uppercase;font-size:16px;}
.header a.btn:hover{background:rgba(0,0,0,0.5);transition: all 0.5s ease; }



.toTop{position: fixed; bottom: 20px; right: 20px;color: #fff; font-size: 50px;padding:0 10px;background: rgba(0,0,0,0.5);}
.toTop:hover{opacity: 0.5;color: #fff;transition: all 0.5s ease;}

.contact-form input,.contact-form textarea{margin-bottom: 15px;font-size: 18px;height: auto;padding: 15px;font-weight: 300;border-radius: 0;}
.contact-form input.btn{width: 100%;background-color: #333;color: #fff; font-size: 23px;border: none;}
ul.social {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul.social li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 20px 5px;
    vertical-align: top;
}

a {
  text-decoration: none;
  color: ;
}
a:hover,
a:visited {
  color: ;
}


ul.social {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
ul.social li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 20px 5px;
  vertical-align: top;
}
ul.social li a {
  display: block;
  width: 70px;
  height: 70px;
  text-indent: -9999px;
  border: none !important;
  font-size: 14px;
  text-align: center;
}
ul.social li a:hover {
  background: transparent !important;
}
ul.social li a:hover img {
  height: 30px !important;
  margin-bottom: 25px;
}
ul.social li.link-twitter a {
  background: url(images/icon_twitter.svg) no-repeat center 0px;
  background-size: 37px;
  color: #28aae1 !important;
}
ul.social li.link-github a {
  background: url(images/icon_github.svg) no-repeat center 0px;
  background-size: 30px;
  color: #000000 !important;
}
ul.social li a:hover {
  text-indent: 0;
}
ul.social li.link-instagram a {
  background: url(images/icon_instagram.svg) no-repeat center 0px;
  background-size: 30px;
  color: #326189 !important;
}
ul.social li.link-mail a {
  background: url(images/icon_mail.svg) no-repeat center 0px;
  background-size: 30px;
  color: #dd4951 !important;
}
ul.social li.link-linkedin a {
  background: url(images/icon_linkedin.svg) no-repeat center 0px;
  background-size: 30px;
  color: #005CFF !important;
}
ul.social li.link-facebook a {
  background: url(images/icon_facebook.svg) no-repeat center 0px;
  background-size: 37px;
  color: #005CFF !important;
}
#footer{
    margin-top: 120px;
}
@media (max-width: 1200px){
		h1{font-size: 50px;line-height: 70px;}
		h2{font-size: 35px;margin-bottom: 50px;}
		h3{font-size: 25px;margin-bottom: 30px;}
		.spacer{padding: 70px 0;}

		.testimonials p{padding: 0 100px;}
}


@media (max-width: 768px){
	h1 {font-size: 40px;line-height: 60px;}
	h2{font-size: 30px;margin-bottom: 30px;}
	h3{font-size: 25px;margin-bottom: 25px;}
	.header .absolute-center {margin-top: 30%;}
}


@media (max-width: 767px){	
	h1 {font-size: 50px;line-height: 90px;}
	h2{font-size: 25px;margin-bottom: 25px;}
	.header a.btn{font-size: 12px;margin-right: 18px;}
	.header a.btn:last-child{margin-right: 0;}
	.header .absolute-center {margin-top: 10%;}
	.prof-links{margin: 60px 0 10px 0; width: 100%;}
	.connect-icon a{margin:0 10px 0 0; margin-left: 5px;}
	.social {width: 100%;}
	.spacer{padding: 30px 0;}
}

@media (max-width: 600px){
	h1 {font-size: 27px;line-height: 40px;}
	.testimonials p{padding: 0;font-size: 14px;line-height: 20px;}
}