@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@font-face {
	font-family: MNS;
    src: url(assets/MNS.otf);
}
@font-face {
	font-family: Fertigo;
    src: url(assets/Fertigo.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.stars{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(images/stars.png) repeat top center !important;
  z-index:-1 !important;
}

body{font:normal 16px/22px Fertigo;color:#555; background-color: #f7484e;}
p {padding-bottom:20px;font-size: 20px;}
a:hover{text-decoration: none;}
html[xmlns] .clearfix {
	display:block;
}
* html .clearfix {
	height:1%;
}
h1 {
    font-family: "Manus",Arial,sans-serif;
    font-size: 116px !important;
    line-height: 115px !important;
    font-weight: normal !important;
}
.post-title {
    top: 50%;
		color: #F4F4F4;
/*    -moz-transform: translate(-50%, -50%) rotate(-15deg);
    -ms-transform: translate(-50%, -50%) rotate(-15deg);
    -webkit-transform: translate(-50%, -50%) rotate(-15deg);
    transform: translate(-50%, -50%) rotate(-15deg);*/
    width: 100%;
    text-align: center;
    max-width: 900px;
    padding-left: 15px;
    padding-right: 15px;
}
h1,h2,h3,h4,h5,h6{font-family: MNS;margin: 0;padding: 0;}
h1{font-weight:300;font-size: 60px;line-height: 80px;}
h2{font-weight:300;font-size: 50px;line-height:38px;margin-bottom:80px;}
h3{font-size: 25px;font-weight:600;margin-bottom:40px;}
.fullpage .container{display:table; height:inherit;}
.fullpage .absolute-center{display:table-cell;vertical-align: middle;}
.container{
  display: flex !important;
  align-items: center;
}
.bk{
    height:100vh;
			border-right: 1px solid #f7484e;
}
ul.social {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul.social li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 20px 5px;
    vertical-align: top;
}

a {
  text-decoration: none;
  color: ;
}
a:hover,
a:visited {
  color: ;
}


ul.social {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
ul.social li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 20px 5px;
  vertical-align: top;
}
ul.social li a {
  display: block;
  width: 70px;
  height: 70px;
  text-indent: -9999px;
  border: none !important;
  font-size: 14px;
  text-align: center;
}
ul.social li a:hover {
  background: transparent !important;
}
ul.social li a:hover img {
  height: 30px;
  margin-bottom: 25px;
}
ul.social li.link-twitter a {
  background: url(images/icon_twitter.svg) no-repeat center 0px;
  background-size: 37px;
  color: #28aae1 !important;
}
ul.social li.link-github a {
  background: url(images/icon_github.svg) no-repeat center 0px;
  background-size: 30px;
  color: #000000 !important;
}
ul.social li a:hover {
  text-indent: 0;
}
ul.social li.link-instagram a {
  background: url(images/icon_instagram.svg) no-repeat center 0px;
  background-size: 30px;
  color: #326189 !important;
}
ul.social li.link-mail a {
  background: url(images/icon_mail.svg) no-repeat center 0px;
  background-size: 30px;
  color: #dd4951 !important;
}
ul.social li.link-linkedin a {
  background: url(images/icon_linkedin.svg) no-repeat center 0px;
  background-size: 30px;
  color: #005CFF !important;
}
ul.social li.link-facebook a {
  background: url(images/icon_facebook.svg) no-repeat center 0px;
  background-size: 37px;
  color: #005CFF !important;
}
.about{
		border-left: 1px solid #f7484e;
}
@media (max-width: 1200px){
		h1{font-size: 50px;line-height: 70px;}
		h2{font-size: 35px;margin-bottom: 50px;}
		h3{font-size: 25px;margin-bottom: 30px;}
}


@media (max-width: 768px){
	h1 {font-size: 40px;line-height: 60px;}
	h2{font-size: 30px;margin-bottom: 30px;}
	h3{font-size: 25px;margin-bottom: 25px;}
}

@media only screen and (max-width: 500px) {
    .about{
			margin-top: 50px;
			border-left: 0px solid #f7484e;
		}
		.container{
			border-right: 0px solid #f7484e;
		}
		p{font-size: 15px;}
		.fo{margin-left: 25%;}
		ul.social li {

		  margin: 0px;

		}
}
@media (max-width: 767px){
	h1 {font-size: 50px;line-height: 90px;}
	h2{font-size: 25px;margin-bottom: 25px;}
	.social {width: 100%;}
}

@media (max-width: 600px){
	h1 {font-size: 27px;line-height: 40px;}
}
